@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@400;500&display=swap');

:root{
    --bold-font: 'Fredoka One', cursive;
    --regular-font: 'Fredoka', sans-serif;
    --light-orange: #FF8303;
    --dark-orange-color: #B96F22;
    --input-backgroud-color: #242320;
    --dark-sand-color: #B89A60;
    --sand-color: #D4BD90;
    --light-sand-color: rgba(240, 227, 202, 0.64);
    --backgroud-color: #1B1A17;
    --blue-color: #008B8B;
}

*,
:before,
:after {
    box-sizing: border-box;
}

body, html {
    font-family: var(--regular-font);
    background: var(--backgroud-color);
    background-color: var(--backgroud-color);
}

.container {
    margin: 23px;
}

.js-container{
    height: 100%;
    margin: 23px;
}

.title {
    font-family: var(--bold-font);
    color: #FF8303;
    font-size: 64px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.input {
    font-family: var(--regular-font);
    padding-left: 10px;
    border: 3px solid var(--light-orange);
    border-radius: 5px;
    font-weight: 400;
    background: var(--input-backgroud-color);
    height: 48px;
    color: var(--light-sand-color);
    font-size: 24px;
    margin-right: 5px;
    width: 100%;
}

.input:focus{
    outline: none;
}

.input::placeholder {
    color: var(--light-sand-color);
}

.add-btn {
    text-decoration: none;
    border: 3px solid var(--light-orange);
    font-weight: 500;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    background: var(--input-backgroud-color);
    color: var(--blue-color);
    border-radius: 5px;
    padding: 5px 25px;
    height: 48px;
}

.list {
    list-style: none;
    font-size: 20px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 5px;
    color: var(--sand-color);
    line-height: 28px;
}

.button-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.done-btn {
    border: 3px solid var(--light-orange);
    font-weight: 400;
    font-family: 'Fredoka', sans-serif;
    background: var(--input-backgroud-color);
    color: #6B8E23;
    border-radius: 5px;
    height: 44px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
}

.delete-btn {
    border: 3px solid var(--light-orange);
    font-weight: 400;
    font-family: 'Fredoka', sans-serif;
    background: var(--input-backgroud-color);
    color: #CD5C5C;
    border-radius: 5px;
    height: 44px;
    text-decoration: none;
    font-size: 18px;
}

.list-item-text {
    font-family: var(--regular-font);
    font-weight: 400;
    color: var(--sand-color);
    background: var(--input-backgroud-color);
    margin: 0 5px 0 0;
    padding: 5px;
    vertical-align: middle;
    border: 3px solid var(--light-orange);
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    align-items: center;
}

.active {
    border-radius: 5px;
    background-color: #2E8B57;
}

/*@media*/